
.tableLayout{
	width:100%;
	border-collapse: collapse;
	align:center;
}
.tableLayout tr{
	align:center;
}
.tableLayout th {
	text-align: right;
	padding: 5px 0px 0px 0px;
}
.tableLayout td {
	text-align: left;
	padding: 5px 0px 0px 0px;
}

/* linkbutton margin的样式 */
.linkbuttonMargin {
	margin:5px 8px;
}
/* form里面用于布局的table的样式 */
form {
	background-color:#F3FBFE;
}	
.formInnerTable {
	border-collapse: collapse;
	align:center;
}
.formInnerTable th {
	text-align: right;
	padding: 5px 0px 0px 0px;
}
.formInnerTable td {
	text-align: left;
	padding: 5px 0px 0px 0px;
}
.formInnerTable input{
	width:180px;
}
.formInnerTable_col2 th {
	width:20%;
}
.formInnerTable_col2 td {
	width:30%;
}
.formInnerTable_col3 th {
	width:15%;
}
.formInnerTable_col3 td {
	width:18%;
}
.logo {
	background: url('') no-repeat;
}

.info {
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
}

.tip {
	width: 24px;
	height: 16px;
	float: left;
}

img {
	cursor: pointer;
}