
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492568381287'); /* IE9*/
  src: url('iconfont.eot?t=1492568381287#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492568381287') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492568381287') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492568381287#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tenpay:before { content: "\e60b"; }

.icon-wechat:before { content: "\e604"; }

.icon-alipay:before { content: "\e7e8"; }

.icon-pingan:before { content: "\e60a"; }

