/**
this is global.css
**/
body {
    padding-top: 50px !important;
}

.sub-header {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #eee !important;
}

.navbar-fixed-top {
    border: 0 !important;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        top: 51px !important;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 1000 !important;
        display: block !important;
        padding: 20px !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;

        background-color: #f5f5f5 !important;
        border-right: 1px solid #eee !important;
    }
}

.nav-sidebar {
    margin-right: -21px !important;
    margin-bottom: 20px !important;
    margin-left: -20px !important;
}

.nav-sidebar [data-toggle] {
    color: rgba(0, 0, 0, 0.45) !important;
    text-decoration: none !important;
}

.nav-sidebar > li > ul,
.nav-sidebar > li > ul > li > ul {
    list-style: none !important;
}

.nav-sidebar > li > ul > li,
.nav-sidebar > li > ul > li > ul > li {
    padding: 7px 0;
}

.nav-sidebar > li > a {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.nav-sidebar a {
    color: #314659 !important;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar > li > ul > li > ul {
    padding-top: 7px;
    padding-left: 24px;
}

.main {
    padding: 20px !important;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
}

.main .page-header {
    margin-top: 0 !important;
}

.placeholders {
    margin-bottom: 30px !important;
    text-align: center !important;
}

.placeholders h4 {
    margin-bottom: 0 !important;
}

.placeholder {
    margin-bottom: 20px !important;
}

.placeholder img {
    display: inline-block !important;
    border-radius: 50% !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle !important;
}
